<% provide :title, 'Home' %>

<div class="center">
  <% if logged_in? %>
	<h1>Welcome! <%= current_user.person.first_name %></h1>
	<% end %>
  <%= image_tag("colors.svg", class: "bi me-2", width: "60%", height: "60%") %>
</div>
