<% provide :title, 'Login' %>

<div class="row">
	<div class="col">
	</div>
	
	<!-- <div class="col col-lg-5 p-md-5 m-4 bg-light rounded-3"> -->
  <div class="col col-sh-5 mx-5 p-5 bg-light rounded-3">
		<div class="row mx-3" id="login_form">
	  <%= render 'form' %>
	  </div>

		<div class="row mx-3">
			<!-- <br> -->
			<hr class="mt-2">
			<div class="form-links text-small">
			<%= render 'shared/user_account_links', context: :login %>
	    </div>
	  </div>
  </div>
	
	<div class="col">
	</div>
</div>