<% provide :title, 'Login' %>

<div class="row">
	<div class="mx-auto col-lg-4 bg-light rounded-3 p-5">
		<div id="login_form">
	    <%= render 'form', login_error: @login_error ? @login_error : nil %>
		</div>
		<br>
		<hr class="mt2">
		<div class="form-links text-small">
			<%= render 'shared/user_account_links', context: :login %>
	  </div>
  </div>
</div>