<div class="row">
	<div class="col-auto bg-light rounded-3 p-5">
	<% @users.each do |user| %>
	  <p><%= user.full_name %> - <%= user.username %> - <%= user.email_addresses.first %></p>
		<br/>
	<% end %>
	</div>
</div>