<% provide :title, 'Sign up' %>

<div class="d-flex">
	<div class="mx-auto col-lg-4 bg-light rounded-3 p-5"> <!-- col-lg-7 => para esten de dos en dos, pero se altera cuando hay errores-->
		<div id="user_form">
		  <%= render "signup_form" %>
	  </div>
		<hr class="">
		<div class="form-links text-small">
	    <%= render 'shared/user_account_links', context: :signup %>
	  </div>
	</div>
</div>

