<%= provide :title, "Sign up" %>

<div class="row">
	<div class="col-md-7 col-lg-5" id="user_form">
		<%= render "form", user: @user, email_address: @email_address, context: :signup %>
	</div>
	<div class="col">
		<div class="row">
			<%= image_tag("colors.svg", class: "bi me-2") %>
		</div>
	</div>
</div>



