@import "bootstrap";

$medium-gray: rgb(80, 78, 76);
$dark-gray: rgb(24, 23, 23);


.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.brand {
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Flash messages*/

div.top-alert {
  //margin: 0;
  border-radius: 0;
}

/*#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}*/

.form-links {
  a {
    color: $medium-gray;
    text-decoration: none;
    &:hover{
      color: $dark-gray;
      text-decoration: none;
    }
  }
}