<a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
  <!-- <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> -->
	<span class="fs-4 brand"><%= base_title %></span>
</a>
