<%= link_to root_path, class: "link-body-emphasis text-decoration-none" do %> <!-- d-inline-flex -->
  <%= image_tag("pixelart.svg", alt: base_title,class: "w-75")%>
	<!-- <span class="fs-4 brand"><%#= base_title %></span> -->
<% end %>