<div class="row">
	
  <div class="col-6 col-md-2 mb-3">
    <h5>Hobbies</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">The Art of Coloring</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Playing Cards</a></li>
			<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Puzzles</a></li>
    </ul>
  </div>

  <div class="col-6 col-md-2 mb-3">
    <h5>Schooling</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Notebooks</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Book Covers</a></li>
			<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Book Labels</a></li>
			<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Bookmarks</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">School Bags</a></li>
    </ul>
  </div>

  <div class="col-6 col-md-2 mb-3">
    <h5>Solfa</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Workbooks</a></li>
    </ul>
  </div>

  <div class="col-md-5 offset-md-1 mb-3">
    <form>
      <h5>Subscribe to our newsletter</h5>
      <p>Monthly digest of what's new and exciting from us.</p>
      <div class="d-flex flex-column flex-sm-row w-100 gap-2">
        <label for="newsletter1" class="visually-hidden">Email address</label>
        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
        <button class="btn btn-primary" type="button">Subscribe</button>
      </div>
    </form>
  </div>
	
</div>
