<div class="b-example-divider"></div>

<div class="container">
 
  <footer class="py-5">
		
		<%#= render 'layouts/footer_sections' %>

    <%= render 'layouts/footer_bottom' %>
		
  </footer>

</div>