<!-- <div class="dark-footer text-light text-small"> b-example-divider -->

<footer class="dark-footer text-light text-small mt-5 py-5">		
	
  <div class="container">
		
			<%= render 'layouts/footer_sections' %>

	    <%= render 'layouts/footer_bottom' %>
	
	</div>
		
</footer>
	
<!-- </div> -->