<header class="p-3 mb-3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <%= render 'layouts/brand' %>

      <%= render 'layouts/nav' %>

      <%= render 'layouts/user_options' %>
    </div>
  </div>
</header>