<header class="pb-2">

	<div class="container">

			<nav class="navbar navbar-expand-md py-3">

				 <div class="container-fluid">

						<%= render 'layouts/brand' %>
												
						<%= render 'layouts/navbar' %>

				</div>

		  </nav>

	</div>

</header>