<ul class="nav col-12 col-lg-auto me-lg-auto mx-3 mb-2 justify-content-center mb-md-0">
  <li><%= link_to "Home", root_path, class: "nav-link px-2 link-secondary" %></li>
  <li><%= link_to "About", about_path, class: "nav-link px-2" %></li>
  <li><%#= link_to "Help", help_path, class: "nav-link" %></li>
</ul>