<div class="dropdown text-end">
  <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
		<%= render 'shared/user_icon' %>
		<svg class="rounded-circle" width="32" height="32"><use xlink:href="#people-circle"/></svg>
  </a>
  <ul class="dropdown-menu text-small">
    <li><%= link_to "Your profile", user_path(current_user.username), class: "dropdown-item"%></li>
		<li><%= link_to "Settings", settings_user_path(current_user.username), class: "dropdown-item"%></li>
    <li><hr class="dropdown-divider"></li>
    <li><%= link_to "Logout", logout_path, class: "dropdown-item", data: {turbo_method: :delete} %></a></li>
  </ul>
</div>